<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Bajaj Finserve</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body></body>
</html>
